@model MvcForAndy.Models.Registration

<p>Thanks for signing up  at @Model.Email! Help spread the word, and we'll give you access to the alpha site long before our public release. It's a perfect way to make all of your friends uber-jealous, all while getting things done.</p>